body {
  margin: 0;
  background: linear-gradient(180deg, #050505, #0a0a0a, #121212);
  color: #e0ffee;
  font-family: Arial;
  overflow-x: hidden;
}

#bgCanvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Navbar */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: rgba(10, 10, 10, 0.7);
  backdrop-filter: blur(4px);
  padding: 10px 25px;
  border-bottom: 1px solid #00ff41;
  box-shadow: 0 0 15px #00ff41;
  z-index: 5;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: #00ff41;
  text-decoration: none;
  font-family: "Courier New";
}

nav a:hover {
  color: black;
  background: #00ff41;
  padding: 4px 8px;
}

/* Hero */
.hero {
  text-align: center;
  padding-top: 140px;
}

/* Sections */
section {
  padding: 80px 20px;
  max-width: 1100px;
  margin: auto;
}

h1, h2, h3 {
  font-family: "Courier New";
  color: #39ff14;
  text-shadow: 0 0 12px #39ff14;
}

button {
  background: transparent;
  color: #00ff41;
  border: 2px solid #00ff41;
  padding: 12px 25px;
  font-family: "Courier New";
  cursor: pointer;
  box-shadow: 0 0 15px #00ff41;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.card {
  border: 1px solid #00ff41;
  background: rgba(5, 20, 5, 0.3);
  box-shadow: 0 0 18px #00ff41;
  padding: 20px;
  border-radius: 8px;
}

/* Diagrams */
.diagram {
  border: 1px solid cyan;
  padding: 10px;
  box-shadow: 0 0 12px cyan;
  text-align: center;
}

.mono-box {
  width: 90%;
  height: 70px;
  border: 1px solid cyan;
  margin: 8px auto;
}

.small-box {
  display: inline-block;
  width: 55px;
  height: 25px;
  margin: 3px;
  border: 1px solid cyan;
}

.tiny-core {
  width: 50px;
  height: 25px;
  border: 1px solid cyan;
  margin: 5px auto;
}

.hybrid-core {
  width: 70%;
  height: 35px;
  border: 1px solid cyan;
  margin: 5px auto;
}

/* Terminal */
.terminal {
  background: black;
  border: 2px solid #00ff41;
  color: #00ff41;
  font-family: "Courier New";
  min-height: 130px;
  padding: 15px;
  box-shadow: 0 0 18px #00ff41;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #00ff41;
  padding: 10px;
  text-align: center;
}

th {
  background: rgba(0, 255, 65, 0.15);
}

/* Reveal animation */
.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: 0.9s;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Responsive */
@media (max-width: 820px) {
  .cards {
    grid-template-columns: 1fr;
  }
  }
  
